@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #242424;
}

@keyframes progress {
  from {
    background-position: 100% 0;
  }
  to {
      background-position: 0 0;
  }
}